.book-detail-container {
  height: 100%;
}
.top-container {
  width: 100%;
  display: flex;
  /* justify-content: space-around; */
}
.top-left-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.top-right-container {
  width: 50%;
}
.button-container {
  display: flex;
  justify-content: space-between;
}
.detail-bookimg {
  width: 15rem;
}

.bottom-container {
  display: flex;
  justify-content: space-around;
}