.msg-lv1 {
  font-weight: 600;
  font-size: 3rem;
  text-align: center;
}
.msg-lv2 {
  font-weight: 500;
  font-size: 4rem;
  text-align: center;
}
.title-lv1 {
  font-weight: 600;
  font-size: 4rem;
}
.title-lv2 {
  font-weight: 500;
  font-size: 2rem;
}
.text-lv3 {
  font-weight: 500;
  font-size: 1.2rem;
}
.btn-lv1 {
  width: 25rem;
  height: 6rem;
  color: white;
  background-color: #756AB6;
  border-radius: 1rem;
  font-weight: 600;
  font-size: 2.5rem;
  cursor: pointer;
  border: none;
}
.btn-lv2 {
  border: unset;
  width: 11rem;
  height: 3.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}
.btn-lv2-text {
  font-size: 1.2rem;
  font-weight: 600;
}
.btn-lv2-empty {
  border: 0.5rem solid;
  border-radius: 1rem;
  border-color: #756AB6;
  background-color: white;
}
.btn-lv2-full {
  border-radius: 1rem;
  background-color: #756AB6;
  color: white;
}
.loading-text {
  font-weight: 600;
  font-size: 2rem;
}